<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>QingSplitPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.qingsplit.poc.prefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QingSplitPrefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.94</string>
	<key>CFBundleVersion</key>
	<string>0.4.94</string>
	<key>NSPrincipalClass</key>
	<string>QingSplitPrefsRootListController</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon@3x.png</string>
	</array>
</dict>
</plist>
